<h2>Работа с приложением</h2>

<p>
    Для работы с приложением щелкните в области виджета существующего приложения. Откроется страница работы с приложением на закладке «Аналитика».
</p>
<p>
    <img src="./img/2.png" alt="Приложения">
</p>
<p>
    На странице приложения расположены следующие функциональные закладки:
</p>
<ul>
    <li>Аналитика;</li>
    <li>Данные;</li>
    <li>Серверный код;</li>
    <li>Настройки.</li>
</ul>

<p>
    Для быстрого перехода на нужную функциональную закладку можно щелкнуть по соответствующей пиктограмме в меню виджета приложения на странице "Приложения".
</p>
