<h2>Триггеры</h2>
<p>
    На закладке «Триггеры» вы можете создать описания для стандартных триггеров.
</p>
<p>
    <img src="./img/datatriggers.png" alt="Триггеры" class="screenshot">
</p>
<p>
    Триггеры - скрипты на JavaScript, выполняемые при определенных операциях над данными. Все триггеры выполняются в замыканиях, имеют локальный контекст.
    Выберите триггер из предлагаемого списка и введите его описание в отведенном для этого окне. Для сохранения введенного описания нажмите на ссылку «Сохранить».
    Для активации созданного триггера установите опцию «Активировать». Без установки данной опции триггер не будет работать.
</p>
<p class="bg-danger">
    Максимальное время выполнения каждого триггера - 500 миллисекунд.
</p>
<p class="bg-danger">
    Максимальная глубина стека вызовов триггеров - 10.<br>
    <strong>Пример:</strong><br>
    Если в триггере после операции "insert" выполнять операцию "insert" в эту же коллекцию, то будет вставлено
    10 документов, после чего цепочка вызовов будет остановлена.
</p>
<p class="bg-danger">
    При выполнении триггеров <strong>перед</strong> операциями <code>insert</code>, <code>update</code> и <code>delete</code>,
    необходимо в результате выполнять <code>return true</code> для продолжения выполнения операциий документа,
    и <code>return false</code> для прерывания выполнения операций. Если триггер не возвращает значения, то по умолчание результат его работы - <code>false</code>.
</p>
<p>
    При выполнении триггера в его контексте создаются объекты <code>DataManager</code> и <code>pool</code>.
</p>
<h4>Объект <code>pool</code></h4>
<p>
    Объект <code>pool</code> содержит следующие данные:
</p>
<p>
    Перед операцией <code>insert</code>:
</p>
<pre>
{
    doc : {}, // документ с парами имя_поля:значение
}
</pre>
<p>
    После операции <code>insert</code>:
</p>
<pre>
{
    newDoc : {}, // вновь созданный документ с парами имя_поля:значение
}
</pre>

<p>
    Перед операцией <code>remove</code>:
</p>
<pre>
{
    query : {}, // поисковый запрос, в соответствии с которым необходимо удалить документы
}
</pre>

<p>
    После операции <code>remove</code>:
</p>
<pre>
{
    count : int // количество удаленных документов
    docs  : []  // массив ID удаленных документов
}
</pre>

<p>
    Перед операцией <code>update</code>:
</p>
<pre>
{
    doc   : {}, // документ с правилами обновления значений
    query : {}, // поисковый запрос, в соответствии с которым необходимо обновить документы
}
</pre>

<p>
    После операции <code>update</code>:
</p>
<pre>
{
    count : int // количество обновленный документов
    docs  : []  // массив ID обновленных документов
}
</pre>

<p>
    Перед операцией <code>updatebyid</code>:
</p>
<pre>
{
    doc         : {}, // документ с правилами обновления значений
    query       : {}, // поисковый запрос {"_id" : <ID документа>}
}
</pre>

<p>
    После операции <code>updatebyid</code>:
</p>
<pre>
{
    newDoc      : { } // обновленный документ
}
</pre>

<hr>
<h4>Объект <code>DataManager</code></h4>

<p>
Объект DataManager содержит следующие методы работы с данными:
</p>

<code>DataManager.Insert(data Object)</code>
<p>
Метод для вставки документа в коллекцию.
Параметры:
</p>
<p>
    <code>data Object</code> - объект, содержащий следующие атрибуты:
</p>
<pre>
{
    coll : "", // имя коллекции, обязательный
    doc  : {}, // документ с парами имя_поля:значение, необязательный
}
</pre>
<p>
    Возвращаемое значение - <code>Object</code>:
</p>
<p>
    Выполнено
</p>
<pre>
{
    error  : false
    result : {} // созданный документ
}
</pre>
<p>
Ошибка
</p>
<pre>
{
    error   : true,
    errCode : 4XX/5XX, // Код ошибки
    errMsg  : "Текст ошибки"
}
</pre>

<hr>
<code>DataManager.Remove(data Object)</code>

<p>
    Метод для удаления документов из коллекции.
    Параметры:
</p>
<p>
    <code>data Object</code> - объект, содержащий следующие атрибуты:
</p>
<pre>
{
    coll  : "", // имя коллекции, обязательный
    query : {}, // запрос с парами имя_поля/оператор:значение, необязательный
    limit : int // лимит количества удаляемых документов, необязательный,
                // если не указан, то удалятся первые 1000 документов
}
</pre>
<p>
    Возвращаемое значение - <code>Object</code>:
</p>
<p>
    Выполнено
</p>
<pre>
{
    error  : false
    result : {
        count : int, // количество удаленных документов
        docs  : [] // массив ID удаленных документов
    }
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error   : true,
    errCode : 4XX/5XX, // Код ошибки
    errMsg  : "Текст ошибки"
}
</pre>

<hr>
<code>DataManager.Update(data Object)</code>
<p>
    Метод для обновления документов в коллекции.
    Параметры:
</p>
<p>
    <code>data Object</code> - объект, содержащий следующие атрибуты:
</p>
<pre>
{
    coll  : "", // имя коллекции, обязательный
    query : {}, // запрос с парами имя_поля/оператор:значение, необязательный
    doc   : {}, // документ с парами оператор:значение, обязательный
    limit : int // лимит количества обновляемых документов, необязательный,
                // если не указан, то обновятся первые 1000 документов
}
</pre>
<p>
    Возвращаемое значение - <code>Object</code>:
</p>
<p>
    Выполнено
</p>
<pre>
{
    error  : false
    result : {
        count : int, // количество удаленных документов
        docs  : [] // массив ID измененных документов
    }
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error   : true,
    errCode : 4XX/5XX, // Код ошибки
    errMsg  : "Текст ошибки"
}
</pre>

<hr>
<code>DataManager.UpdateById(data Object)</code>
<p>
Метод для обновления одного документа в коллекции, идентифицируемого по ID.
Параметры:
</p>
<p>
    <code>data Object</code> - объект, содержащий следующие атрибуты:
</p>
<pre>
{
    coll  : "", // имя коллекции, обязательный
    query : {}, // запрос в формате "_id" : "&ltидентификатор документа&gt", обязательный
    doc   : {}, // документ с парами оператор:значение, обязательный
}
</pre>
<p>
    Возвращаемое значение - <code>Object</code>:
</p>
<p>
    Выполнено
</p>
<pre>
{
    error  : false
    result : {} // обновленный документ
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error   : true,
    errCode : 4XX/5XX, // Код ошибки
    errMsg  : "Текст ошибки"
}
</pre>

<hr>
<code>DataManager.Find(data Object)</code>

<p>
    Метод для запроса документов из коллекции.
    Параметры:
</p>
<p>
    <code>data Object</code> - объект, содержащий следующие атрибуты:
</p>
<pre>
{
    coll   : "", // имя коллекции, обязательный
    query  : {}, // запрос с парами имя_поля/оператор:значение, необязательный, если пустой,
                 // то будут возвращены первые 100 документов
    sort   : {}, // сортировка по полям в формате имя_поля:1/-1, необязательный
    fields : [], // список имен полей, которые будут возвращены в каждом документе, необязательный
    limit  : int,// лимит размера выборки, необязательный, по умолчанию 50
    skip   : int,// количество документов, которое нужно пропустить в выборке
}
</pre>
<p>
   Возвращаемое значение - <code>Object</code>:
</p>
<p>
Выполнено
</p>
<pre>
{
    error  : false
    result : [] // массив выбранных документов с учетом лимита
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error   : true,
    errCode : 4XX/5XX, // Код ошибки
    errMsg  : "Текст ошибки"
}
</pre>

<hr>
<code>DataManager.Count(data Object)</code>
<p>
    Метод для запроса количества документов по условию в коллекции.
    Параметры:
</p>
<p>
    <code>data Object</code> - объект, содержащий следующие атрибуты:
</p>
<pre>
{
    coll  : "", // имя коллекции, обязательный
    query : {}, // запрос с парами имя_поля/оператор:значение, необязательный
}
</pre>
<p>
    Возвращаемое значение - <code>Object</code>:
</p>
<p>
    Выполнено
</p>
<pre>
{
    error  : false
    result : int // количество документов
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error   : true,
    errCode : 4XX/5XX, // Код ошибки
    errMsg  : "Текст ошибки"
}
</pre>

<hr>
<code>DataManager.RunScript(data Object)</code>
<p>
    Метод для запуска серверного скрипта.
    Параметры:
</p>
<p>
    <code>data Object</code> - объект, содержащий следующие атрибуты:
</p>
<pre>
{
    script   : "", // ID скрипта, обязательный
    pool     : {}, // пул данных для установки передачи в контекст скрипта, необязательный
}
</pre>
<p>
    Возвращаемое значение - <code>Object</code>:
</p>
<p>
    Выполнено
</p>
<pre>
{
    error  : false
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error   : true,
    errCode : 4XX/5XX, // Код ошибки
    errMsg  : "Текст ошибки"
}
</pre>

<hr>

<h3>Примеры триггеров</h3>

<h4>
    Установка обязательности наличия значения поля.
</h4>
<p>
    Перед добавлением документа проверим наличие значения поля "name" и, в случае его отсутствия, прервем операцию добавления документа. 
</p>
<pre>
if (!pool.doc.hasOwnProperty('name')) {   // проверим наличие поля "name" в создаваемом документе
        return false;                     // прервем создание документа в случае отсутствия поля
    } else {
        return true;                      // В случае, если значение поля присутствует - продолжим операцию
    };
</pre>

<h4>
    Установка значения по-умолчанию.
</h4>
<p>
    Перед добавлением документа проверим наличие значения поля "name" и, в случае его отсутствия, установим значение по-умолчанию.
</p>
<pre>
if (!pool.doc.hasOwnProperty('name')) { // проверим наличие поля "name" в создаваемом документе
        pool.doc.name = "Джон Сноу";    // в случае отсутствия значения, установим значение по-умолчанию
    }

return true;                    // В случае, если значение поля присутствует - продолжим операцию.
</pre>

<h4>
    Добавление связанного документа другой коллекции.
</h4>
<p>
    После добавления документа, создадим документ в другой коллекции со ссылкой на добавленный.
</p>
<pre>
DataManager.Insert({                           // выполним операцию добавления документа в коллекцию "stuff"
        coll : "stuff",
        doc  : {
                   "thing": pool.newDoc._id    // передадим _id созданного документа в поле типа "pointer"
        }
    })
</pre>

<h4>
    Удаление связанных документов другой коллекции.
</h4>
<p>
    Перед удалением документа, удалим все документы другой коллекции со ссылкой на удаляемый.
</p>
<pre>
DataManager.Remove({                           // выполним удаление связанных документов в коллекции "stuff"
    coll  : "stuff",
    query: {
        "thing": pool.query._id                // передадим _id удаляемого документа
    }
})
return true;
</pre>