<h2>Серверный код приложения</h2>
<p>
    Серверный код – скрипты на JavaScript.
    Разработанный серверный код выполняется по расписанию (плану) или одноразово по вызову через метод API.
    Введите серверный код в отведенном для этого окне. Для сохранения введенного описания нажмите на ссылку «Сохранить».
    Для допуска запуска кода анонимному пользователю (без авторизации) установите соответствующий флаг на закладке «ACL».
    Для настройки плана запуска серверного кода перейдите на закладку «Запланировать запуск».
    Задайте опцию «Включить таймер» для выполнения созданного серверного кода по расписанию. Далее настройте расписание и укажите дату начала его действия.
</p>
<p>
    Возможны следующие варианты расписания:
</p>
<ul>
    <li>Единожды;</li>
    <li>Произвольно через заданное время (дни, часы, минуты);</li>
    <li>Ежедневно (по заданным дням недели и в заданное время);</li>
    <li>Ежемесячно (по заданным месяцам, дням месяца и в заданное время).</li>
</ul>
<p>
    Серверный код запускается в отдельном контексте, и при запуске в нем доступны следующие объекты:
</p>
<ul>
    <li><code>scorocode</code> – SDK scorocode, подключается в код с помощью <code>var scorocode = require('scorocode')</code>;</li>
    <li><code>pool</code> – произвольный объект, переданный при вызове метода выполнения скрипта через API, содержащий переданные атрибуты.</li>
</ul>