<h2>Серверный код приложения</h2>
<p>
    Серверный код – это скрипты на JavaScript, выполняемые на сервере с помощью движка Google V8.
    Разработанный серверный код выполняется по расписанию (плану) или одноразово по вызову через метод API.
    Для создания нового скрипта нажмите кнопку "Создать".
</p>
<p>
    <img src="./img/scripts.png" alt="Серверный код" class="screenshot">
</p>
<p>
    <img src="./img/scriptcreate.png" alt="Серверный код" class="screenshot">
</p>
<p>
    Введите серверный код в отведенном для этого окне. Для сохранения введенного описания нажмите на ссылку «Сохранить».
    Для допуска запуска кода анонимному пользователю (без авторизации) установите соответствующий флаг на закладке «ACL».
    Для настройки плана запуска серверного кода перейдите на закладку «Запланировать запуск».
    Задайте опцию «Включить таймер» для выполнения созданного серверного кода по расписанию. Далее настройте расписание и укажите дату начала его действия.
</p>
<p>
    <img src="./img/scriptacl.png" alt="Серверный код" class="screenshot">
</p>

<p>
    Возможны следующие варианты расписания:
</p>
<ul>
    <li>Единожды;</li>
    <li>Произвольно через заданное время (дни, часы, минуты);</li>
    <li>Ежедневно (по заданным дням недели и в заданное время);</li>
    <li>Ежемесячно (по заданным месяцам, дням месяца и в заданное время).</li>
</ul>
<p>
    <img src="./img/scriptschedule.png" alt="Серверный код" class="screenshot">
</p>
<p>
    Серверный код запускается в отдельном контексте, и при запуске в нем доступны следующие объекты:
</p>
<ul>
    <li><code>scorocode</code> – SDK scorocode, подключается в код с помощью <code>var scorocode = require('scorocode')</code>;</li>
    <li><code>pool</code> – произвольный объект, переданный при вызове метода выполнения скрипта через API, содержащий переданные атрибуты.</li>
</ul>

<h4>Поддержка NPM модулей</h4>
<p>Для того чтобы подключить сторонние модули в вашем скрипте, необходимо описать все имеющиеся зависимости. Для этого перейдите в раздел Настройки приложения и выберите пункт NPM  зависимости.</p>
<p>
    <img src="./img/npm.png" alt="Серверный код" class="screenshot">
</p>
<p>В секции dependencies опишите все модули, которые вы собираетесь использовать, где свойство это название модуля, а значение - необходимая версия (вы можете оставить значение версии пустым, в этом случае будет установлена последняя версия модуля).</p>
