<h2>Настройки приложения</h2>
<p>
    Для доступа к опциям настройки приложения перейдите на функциональную закладку «Настройки».
    На странице «Настройки» представлены следующие категории настроек:
</p>
<ul>
    <li>Настройка приложения;</li>
    <li>Тарифный план;</li>
    <li>Безопасность;</li>
    <li>Разработчики;</li>
    <li>Настройка Push;</li>
    <li>Аутентификация пользователей приложения.</li>
</ul>
<p>
    <img src="./img/appsettings.png" alt="Настройки приложения" class="screenshot">
</p>

<h4>Тарифный план</h4>
<p>
    Для настройки тарифного плана приложения перейдите по ссылке «Тарифный план».
    В открывшейся странице представлены сведения о текущим действующем тарифном плане и его активных опциях.
</p>
<p>
    <img src="./img/appsettingstariff.png" alt="Настройки приложения" class="screenshot">
</p>
<p>
    По умолчанию действует тарифный план FREE со следующими опциями:
</p>
<ul>
    <li>Запросов в секунду – 20;</li>
    <li>Хранилище – 10 Гб;</li>
    <li>Push уведомления – 500 000 (не более);</li>
    <li>Разработчиков – 1 (включая владельца приложения).</li>
</ul>
<p>
    Для приобретения дополнительных опций необходимо перейти на тарифный план INDIE.
    Для смены тарифного плана перейдите по ссылке «Изменить» в строке с одноименным названием.
</p>
<p>
    <img src="./img/appsettingstariffchange.png" alt="Настройки приложения" class="screenshot">
</p>
<p>
    Во всплывающем окне укажите количество месяцев для приобретения тарифного плана INDIE (по умолчанию 1).
    Сервис выполнит расчет стоимости с учетом скидки (в случае её наличия).
    Скидка предоставляется при покупке тарифа/опции на срок от 12 месяцев.
    Для подтверждения покупки тарифного плана нажмите на кнопку «Приобрести».
</p>
<p>
    Теперь можно выполнить покупку увеличения размера опции тарифного плана (при необходимости).
    Для этого перейдите по ссылке «Изменить» в строке с одноименным нужной опции, например «Хранилище».
</p>
<p>
    Во всплывающем окне укажите количество месяцев для приобретения и количество дополнительного размера опции.
    Сервис выполнит расчет стоимости с учетом скидки.
    Для подтверждения покупки дополнительного размера опции тарифного плана нажмите на кнопку «Приобрести».
    В списке текущих активных опций будут отражены сведения о всех ваших покупках с указанием даты свершения и даты
    окончания действия настройки.
</p>
<p>
    По истечении срока действия купленного тарифного плана и (или) опции осуществляется пересчет действующих ограничений
    с учетом значений дат окончания действия всех купленных дополнений по данному тарифному плану или опции.
</p>
<p>
    По истечении срока действия всех купленных дополнений по опции устанавливается действие её значения по умолчанию.
</p>
<p>
    По истечении срока действия тарифного плана INDIE устанавливается действие тарифного плана FREE, в том числе
    со значениями его опций.
</p>

<h4>Безопасность</h4>

<p>
    Для настройки ключей доступа к приложению и публичного доступа к данным приложения перейдите по ссылке «Безопасность».
</p>
<p>
    <img src="./img/appsettingssecurity.png" alt="Настройки приложения" class="screenshot">
</p>
<p>
    На открывшейся странице представлены следующие ключи:
</p>
<ul>
    <li>appID – идентификатор приложения;</li>
    <li>android –  клиентский ключ платформы Android;</li>
    <li>javascript – клиентский ключ платформы JavaScript;</li>
    <li>iOs – клиентский ключ платформы iOs;</li>
    <li>winphone– клиентский ключ платформы winPhone;</li>
    <li>masterKey – мастер-ключ приложения для полного доступа через API;</li>
    <li>fileKey – ключ доступа к функциям API приложения (файлы);</li>
    <li>scriptKey – ключ доступа к функциям API приложения (скрипты);</li>
    <li>messageKey –  ключ доступа к функциям API приложения (сообщения);</li>
    <li>webSocketKey - ключ доступа к функциям API приложения (websocket).</li>
</ul>
<p>
    Кнопка «Сбросить» напротив каждого ключа сбрасывет его значение и генерирует новый ключ.
    Доступ к соответствующим функциям по старым ключам после этого становится невозможным.
</p>
<p>
    Для разрешения или запрещение публичного (без авторизации) доступа к данным приложения установите опции ACL
    на чтение, запись, обновление и удаление.
</p>

<h4>Разработчики</h4>
<p>
    Добавление разработчиков, имеющих доступ к приложению осуществляется по ссылке «Разработчики».
</p>
<p>
    <img src="./img/appsettingsdevelopers.png" alt="Настройки приложения" class="screenshot">
</p>
<p>
    Возможность добавления разработчиков приложения предоставляется в случае покупки соответствующего тарифного плана,
    т.е. если в тарифном плане выбрана опция с количеством разработчиков больше 1.
</p>
<p>
    Введите адрес E-mail разработчика и нажмите на кнопку «Пригласить».
    Новому разработчику будет направлено приглашение на указанный адрес почты.
</p>

<h4>Настройки Push</h4>
<p>
    Данная категория настроек предназначена для настройки параметров, необходмых для отправки Push-уведомлений.
</p>
<p>
    <img src="./img/appsettingspush.png" alt="Настройки приложения" class="screenshot">
</p>
<h5>iOS Push</h5>
<p>
    Кнопка "Загрузить сертификат" позволяет загрузить в приложение файл сертификата, необходимый для отправки
    PUSH-уведомлений на устройства, работающие под управлением iOS.
</p>
<p>
    <a href="https://developer.apple.com/library/ios/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/Chapters/ApplePushService.html">Подробнее</a> о PUSH-уведомлениях Apple.
</p>

<h5>Android PUSH</h5>
<p>
    Поля "GCM Sender ID" и "API key" позволяют ввести данные, необходимые для отправки PUSH-уведомлений на устройства,
    работающие под управлением Android.
</p>
<p>
    <a href="https://developers.google.com/cloud-messaging/gcm">Подробнее</a> о PUSH-уведомлениях Android.
</p>

<h4>Аутентификация пользователей приложения</h4>
<p>
    Данный раздел настройки позволяет определить длительность пользовательской сессии.
</p>
<p>
    <img src="./img/appsettingsusers.png" alt="Настройки приложения" class="screenshot">
</p>
<p>
    Перейдите по ссылке «Аутентификация пользователей приложения».
    На открывшейся странице укажите времени в часах активности сессии работы с API после авторизации пользователя
    в приложении. По умолчанию длительность пользовательской сессии установлена в 72 часа.
</p>
<p>
    Тут же можно указать необходимость направления письма подтверждения на адрес e-mail пользователя для завершения регистрации.
    В случае указания данной опции будет высылать письмо на указанный адрес пользователя после его регистрации
    через API c указанием ссылки на подтверждение для завершения регистрации.
    Текст шаблона письма для подтверждения регистрации задается в окне текстового редактора.
</p>
<p>
    Для вставки ссылки на верификацию и имени пользователя необходимо в текст письма вставить следующие значения:
</p>
<ul>
    <li><code>%link%</code> - ссылка на верификацию</li>
    <li><code>%username%</code> - имя пользователя</li>
</ul>