<h2>API: Сообщения</h2>

<hr>
<h4>https://api.scorocode.ru/api/v1/sendemail</h4>
<p>
    Отправка email пользователям.
</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : "", // ключ доступа, обязательный, messageKey или для полного доступа masterKey
    sess        : "", // ID сессии, обязательный, если acc != masterKey
    query       : {}, // запрос в коллекцию users для выборки адресатов с парами имя_поля/оператор:значение, необязательный
    msg         : {
        subject     : "", // Тема письма
        text        : "", // Текст письма
        from        : ""  // Имя отправителя
    }
}
</pre>
<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>

<hr>
<h4>https://api.scorocode.ru/api/v1/sendpush</h4>
<p>
    Отправка push на устройства.
</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : "", // ключ доступа, обязательный, messageKey или для полного доступа masterKey
    sess        : "", // ID сессии, обязательный, если acc != masterKey
    query       : {}, // запрос в коллекцию devices для выборки адресатов с парами имя_поля/оператор:значение, необязательный
    msg         : {
        text        : "", // Текст сообщения
        data        : { } // объект с передаваемыми данными
    }
}
</pre>
<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>

<hr>
<h4>https://api.scorocode.ru/api/v1/sendsms</h4>
<p>
    Отправка sms на номера пользователей.
</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : "", // ключ доступа, обязательный, messageKey или для полного доступа masterKey
    sess        : "", // ID сессии, обязательный, если acc != masterKey
    query       : {}, // запрос в коллекцию users для выборки адресатов с парами имя_поля/оператор:значение, необязательный
    msg         : {
        text        : "", // Текст sms
    }
}
</pre>
<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>
