<h2>API: Статистика</h2>

<hr>
<h4>https://api.scorocode.ru/api/v1/stat</h4>
<p>
    Получение статистики по приложению.
</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : ""  // ключ доступа, обязательный, только masterKey
}
</pre>
<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
    results     : {
        dataSize    : int, // Размер данных приложения, в байтах
        indexSize   : int, // Размер идексов приложения, в байтах
        filesSize   : int  // Размер файлов приложения, в байтах
    }
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>
