<h2>API: Скрипты</h2>

<hr>
<h4>https://api.scorocode.ru/api/v1/scripts</h4>
<p>Отправка задания на выполнение серверного скрипта.</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : "", // ключ доступа, обязательный, scriptKey или для полного доступа masterKey
    sess        : "", // ID сессии, обязательный, если acc != masterKey
    script      : "", // ID скрипта, обязательный
    pool        : {}  // пул данных для установки передачи в контекст скрипта, необязательный
}
</pre>
<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>

<p>
    Пример cURL
</p>
<pre>
curl -X POST -H "Content-Type: application/json" -d '{
    "app": "db8a1b41b8543397a798a181d9891b4c",
    "cli": "ad6a8fe72ef7dfb9c46958aacb15196a",
    "acc": "28f06b89b62165c33de55265166d8781",
    "sess": "6rnbKKGvLLdU9Sl9"
    "script": "57484fb91c5666544db25675",
    "pool": {
        "collname": "items",
        "key": "exampleField",
        "val": "Сегодня 18 июня, и это день рождения Мюриэл! Мюриэл сейчас 20. С днём рождения, Мюриэл!"
    }
}' "https://api.scorocode.ru/api/v1/scripts"
<pre>