<h2>API: Скрипты</h2>

<hr>
<h4>https://api.scorocode.ru/api/v1/scripts</h4>
<p>Отправка задания на выполнение серверного скрипта.</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : "", // ключ доступа, обязательный, scriptKey или для полного доступа masterKey
    sess        : "", // ID сессии, обязательный, если acc != masterKey
    script      : "", // ID скрипта, обязательный
    pool        : {}  // пул данных для установки передачи в контекст скрипта, необязательный
}
</pre>
<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>
