<h2>API: Пользователи</h2>

<hr>
<h4>https://api.scorocode.ru/api/v1/register</h4>
<p>
    Регистрация нового пользователя.
</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    username    : "", // имя пользователя, обязательный, минимум 5 символов
    email       : "", // email, обязательный
    password    : "", // пароль, обязательный, минимум 6 символов
    doc         : { } // значения пользовательских полей в коллекции 'users', необязательный
}
</pre>
<p>
    Ответы:
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>

<hr>
<h4>https://api.scorocode.ru/api/v1/login</h4>
<p>
    Авторизация пользователя.
</p>
<p>Метод: POST</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    email       : "", // email, обязательный
    password    : "", // пароль, обязательный
}
</pre>
<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false,
    result      : {
        sessionId     : "", // ID сессии
        user          : {}  // Документ, содержащий пользователя
    }
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>

<hr>
<h4>https://api.scorocode.ru/api/v1/logout</h4>
<p>
    Деавторизация пользователя.
</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    sess        : ""  // ID сессии, обязательный
}
</pre>
<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>
