<h2>API: Файлы</h2>

<hr>
<h4>https://api.scorocode.ru/api/v1/upload</h4>
<p>
    Загрузка файла в хранилище.
</p>

<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : "", // ключ доступа, обязательный, fileKey или для полного доступа masterKey
    sess        : "", // ID сессии, обязательный, если acc != masterKey
    coll        : "", // имя коллекции, обязательный
    docId       : "", // ID документа, обязательный
    field       : "", // имя поля, обязательный
    file        : "", // имя файла, обязательный
    content     : ""  // тело файла в кодировке base64, обязательный
}
</pre>

<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>
<p>
    Пример cURL
</p>
<pre>
curl -X POST -H "Content-Type: application/json" -d '{
    "app": "db8a1b41b8543397a798a181d9891b4c",
    "cli": "ad6a8fe72ef7dfb9c46958aacb15196a",
    "acc": "8c23d74f447f63ce495cc8fd9ee4d543",
    "sess": "rYgRe6xL2y8VccMJ",
    "coll": "items",
    "docId": "Y3bET236FX",
    "field": "attachment",
    "file": "file.txt",
    "content": "VEhJUyBJUyBGSUxFLUUtRS1FLUUtRS1FIQ=="
}' "https://api.scorocode.ru/api/v1/upload"
</pre>

<hr>
<h4>https://api.scorocode.ru/api/v1/getfile/{app}/{coll}/{field}/{docId}/{file}</h4>
<p>
    Получение файла редиректом.
</p>
<p>
    Метод: GET
</p>
<p>
    Запрос:
</p>
<pre>
https://api.scorocode.ru/api/v1/getfile/{app}/{coll}/{field}/{docId}/{file}
</pre>
<p>
    , где:
</p>
<pre>
    {app}     - идентификатор приложения, обязательный
    {coll}    - имя коллекции, обязательный
    {field}   - имя поля, обязательный
    {docId}   - идентификатор документа, обязательный
    {file}    - имя файла, обязательный
</pre>

<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
Status: 302 (Redirect на файл)
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>
<p>
    Пример cURL
</p>
<pre>
curl -X GET -H "Content-Type: application/json" "https://api.scorocode.ru/api/v1/getfile/db8a1b41b8543397a798a181d9891b4c/items/attachment/Y3bET236FX/file.txt"
</pre>

<hr>
<h4>https://api.scorocode.ru/api/v1/getfilelink</h4>
<p>
    Получение ссылки на файл.
</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : "", // ключ доступа, обязательный, fileKey или для полного доступа masterKey
    sess        : "", // ID сессии, обязательный, если acc != masterKey
    coll        : "", // имя коллекции, обязательный
    docId       : "", // ID документа, обязательный
    field       : "", // имя поля, обязательный
    file        : ""  // имя файла, обязательный
}
</pre>
<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false,
    result      : "Ссылка на файл"
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>
<p>
    Пример cURL
</p>
<pre>
curl -X POST -H "Content-Type: application/json" -d '{
    "app": "db8a1b41b8543397a798a181d9891b4c",
    "cli": "ad6a8fe72ef7dfb9c46958aacb15196a",
    "acc": "8c23d74f447f63ce495cc8fd9ee4d543",
    "sess": "rYgRe6xL2y8VccMJ",
    "coll": "items",
    "docId": "Y3bET236FX",
    "field": "attachment",
    "file": "file.txt"
}' "https://api.scorocode.ru/api/v1/getfilelink"
</pre>

<hr>
<h4>https://api.scorocode.ru/api/v1/deletefile</h4>
<p>
    Удаление файла.
</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : "", // ключ доступа, обязательный, fileKey или для полного доступа masterKey
    sess        : "", // ID сессии, обязательный, если acc != masterKey
    coll        : "", // имя коллекции, обязательный
    docId       : "", // ID документа, обязательный
    field       : "", // имя поля, обязательный
    file        : ""  // имя файла, обязательный
}
</pre>
<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>
<p>
    Пример cURL
</p>
<pre>
curl -X POST -H "Content-Type: application/json" -d '{
    "app": "db8a1b41b8543397a798a181d9891b4c",
    "cli": "ad6a8fe72ef7dfb9c46958aacb15196a",
    "acc": "8c23d74f447f63ce495cc8fd9ee4d543",
    "sess": "rYgRe6xL2y8VccMJ",
    "coll": "items",
    "docId": "Y3bET236FX",
    "field": "attachment",
    "file": "file.txt"
}' "https://api.scorocode.ru/api/v1/deletefile"
</pre>