<h2>Документация облачного сервиса <a href="https://scorocode.ru/">scorocode</a></h2>

<p>
    Добро пожаловать на страницу документации облачного <a href="https://scorocode.ru/">scorocode</a>!
</p>

<p>
    В документации представлены:
</p>
<ul>
    <li>описание работы с личным кабинетом, приложениями, данными</li>
    <li>документация по HTTP API для реализации работы с облаком на любой платформе</li>
    <li>документация по SDK: WEB сервер/клиент (<a href="https://github.com/Scorocode/scorocode-SDK-JS">JavaScript SDK</a>), iOS/Mac OS (<a href="https://github.com/Scorocode/scorocode-SDK-swift">Swift SDK</a>). Android (<a href="">Java SDK</a>) на подходе.</li>
</ul>

<p>
    Исходные коды всех SDK, а так же самого документации открыты и размещены на
    <a href="https://github.com/Scorocode">GitHub</a>. Все замечания, изменения и предложения по каждому репозиторию
    категорически приветствуются.
</p>

<p>
    Для перехода в нужный раздел документации выберите его в левом меню.
</p>