<h2>Scorocode JS SDK</h2>

<p>
Дистрибутив Scorocode JavaScript SDK можно скачать <a href="https://github.com/Scorocode/scorocode-SDK-JS" target="_blank">тут</a>.
</p>
<pre>
Scorocode
    <a href="javascript:getTemplate('./mdsource/JS/Scorocode.md')">.Init(opt)</a>
    .Object
        new Object(collName)] ⇒ <code>Scorocode.Object</code>
        .getById(_id, options) ⇒ <code>promise.&lt;Scorocode.Object&gt;</code>
        .get(key)]
        .getFileLink(field) ⇒ <code>String</code>
        .uploadFile(field, filename, file, options) ⇒ <code>promise.&lt;String&gt;</code>
        .save(options) ⇒ <code>Scorocode.Object</code>
        .remove(options) ⇒ <code>{count: Number, docs: Array}</code>
        .extend(collName, childObject) ⇒ <code>[Scorocode.Object]</code>
        .set(data)
        .push(key, value)
        .pull(key, value)
        .pullAll(key, value)
        .addToSet(key, value)
        .pop(key, pos)
        .inc(key, amount)
        .currentDate()
        .mul(key, number)
        .min()
        .max()
    .User
        new User()
        .signup(options) ⇒ <code>promise.&lt;Scorocode.User&gt;</code>
        .logout(options)
        .login(email, password, options)
    .Query
        new Query(collName) ⇒ <code>Scorocode.Query</code>
        .find(options) ⇒ <code>promise.{error: Boolean, limit: Number, skip: Number, result: [{Scorocode.Object}]}</code>
        .count(options) ⇒ <code>promise.{error: Boolean, result: Number}</code>
        .update(Object, options) ⇒ <code>promise.{error: Boolean, result: {count: Number, docs: Array}}</code>
        .remove(options) ⇒ <code>promise.{count: Number, docs: Array}</code>
        .reset()
        .equalTo(field, value)
        .notEqualTo(field, value)
        .containedIn(field, value)
        .containsAll(field, value)
        .notContainedIn(field, value)
        .greaterThan(field, value)
        .greaterThanOrEqualTo(field, value)
        .lessThan(field, value)
        .lessThanOrEqualTo(field, value)
        .exists(field)
        .doesNotExist(field)
        .contains(field, value)
        .startsWith(field, value)
        .endsWith(field, value)
        .limit(Limit)
        .skip(skip)
        .page(page)
        .ascending(field)
        .descending(field)
        .or(query)
        .and(query)
        .select()
        .raw(filter)
    .CloudCode
        new CloudCode(id) ⇒ Scorocode.CloudCode
        .run(pool, callbacks) ⇒ <code>promise.{error: Boolean}</code>
    .Messenger
        new Messenger()
        .sendEmail(options, callbacks) ⇒ <code>promise.{error: Boolean, count: Number}</code>
        .sendPush(options, callbacks) ⇒ <code>promise.{error: Boolean, count: Number}</code>
        .sendSms(options, callbacks) ⇒ <code>promise.{error: Boolean, count: Number}</code>
    .UpdateOps
        new UpdateOps()
        .set(data)
        .push(key, value)
        .pull(key, value)
        .pullAll(key, value) 
        .addToSet(key, value) 
        .pop(key, pos)
        .inc(key, amount)
        .currentDate()
        .mul(key, number)
        .min()
        .max()
</pre>