<h2>Scorocode JavaScript SDK</h2>

<p>
Дистрибутив Scorocode JavaScript SDK можно скачать <a href="https://github.com/Scorocode/scorocode-SDK-JS" target="_blank">тут</a>.
</p>

<h3>Быстрый старт</h3>

<p>
    Зарегистрируйтесь и создайте приложение с любым именем в <a href="https://scorocode.ru" target="_blank">Scorocode</a>.
</p>
<p>
    Для разработки примера мы использовали библиотеку <a href="https://facebook.github.io/react/" target="_blank">react</a>
    и утилиту для быстрого создания каркаса приложения <a href="https://github.com/facebookincubator/create-react-app" target="_blank">create-react-app</a>.
    Требования для установки смотрите по ссылке. Установить утилиту можно из консоли командой:
</p>
<pre>
npm install -g create-react-app
</pre>
<p>Создайте новое приложение и установите JS SDK последовательностью команд в консоли:</p>
<pre class="prettyprint">
create-react-app first-scorocode
cd first-scorocode
npm install scorocode --save
</pre>

<p>
    Откройте файл src/index.js и добавьте в него строки, заменив ключи "xxx" на соответствующие ключи из вашего приложения (раздел Настройки->Безопасность):
</p>
<pre>
import React from 'react';
import ReactDOM from 'react-dom';
import App from './App';
import './index.css';
import Scorocode from 'scorocode' // <- добавить импорт SDK Scorocode

// Добавить инициализацию SDK
Scorocode.Init({
    ApplicationID: "xxx", // <- заменить xxx на ключ appId приложения
    JavaScriptKey: "xxx", // <- заменить xxx на ключ javascript приложения
    MasterKey:     "xxx"  // <- заменить xxx на ключ masterKey приложения
});

ReactDOM.render(
  &lt;App //&gt;,
  document.getElementById('root')
);
</pre>

<p>
    Откройте файл src/App.js замените его содержимое на следующий код:
</p>
<pre>
import React, { Component } from 'react';
import logo from './logo.svg';
import './App.css';
import Scorocode from 'scorocode' // <- добавить импорт SDK


class App extends Component {

    constructor(props) {
        super(props);

        // Создаем переменные, которые будут хранить результаты запросов
        this.state = {
            registerResult: "",
            loginResult: ""
        };
    }

    // Заменяем содержимое
    // Создаем две формы: для регистрации и для авторизации
    render() {
        return (
            &lt;div&gt;
                &lt;h2&gt;Регистрация&lt;/h2&gt;
                &lt;form onSubmit={(event) =&gt; {this.handleRegister(event)}}&gt;
                    &lt;input type="text" placeholder="имя пользователя"/&gt; {' '}
                    &lt;input type="email" placeholder="email"/&gt; {' '}
                    &lt;input type="password" placeholder="password"/&gt;
                    &lt;button type="submit"&gt;Зарегистрироваться&lt;/button&gt;
                &lt;/form&gt;

                &lt;pre&gt;{this.state.registerResult}&lt;/pre&gt;

                &lt;h2&gt;Вход в систему&lt;/h2&gt;
                &lt;form onSubmit={(event) =&gt; {this.handleLogin(event)}}&gt;
                    &lt;input type="email" placeholder="email"/&gt; {' '}
                    &lt;input type="password" placeholder="password"/&gt;
                    &lt;button type="submit"&gt;Войти&lt;/button&gt;
                &lt;/form&gt;

                &lt;pre&gt;{this.state.loginResult}&lt;/pre&gt;
            &lt;/div&gt;
        );
    }

    // Обработчик формы регистрации
    handleRegister(event) {
        event.preventDefault()
        const username = event.target.elements[0].value
        const email = event.target.elements[1].value
        const password = event.target.elements[2].value

        // Очищаем переменную результата
        this.setState({registerResult: ""})

        // Создадим новый экземпляр Scorocode.User
        var appUser = new Scorocode.User();

        // Установим данные, необходимые для регистрации пользователя приложения
        appUser
            .set("username", username)
            .set("email", email)
            .set("password", password);

        // Зарегистрируем нового пользователя приложения
        appUser.signup()
            // Обработчик успешного выполнения запроса
            .then((data)=>{
                // Обновляем переменную результата, переводя полученный объект в строку
                this.setState({registerResult: JSON.stringify(data, null, 2)})
            })
            .catch((err) => {
                // Обновляем переменную результата, переводя полученный объект в строку
                this.setState({registerResult: JSON.stringify(err, null, 2)})
            })
    }

    // Обработчик формы авторизации
    handleLogin(event) {
        event.preventDefault()
        const email = event.target.elements[0].value
        const password = event.target.elements[1].value

        // Очищаем переменную результата
        this.setState({loginResult: ""})

        // Создадим новый экземпляр Scorocode.User
        var appUser = new Scorocode.User();

        // Аутентифицируем пользователя приложения, используя email и password
        appUser.login(email, password)
            // Обработчик успешного выполнения запроса
            .then((data)=>{
                // Обновляем переменную результата, переводя полученный объект в строку
                this.setState({loginResult: JSON.stringify(data, null, 2)})
            })
            .catch((err) => {
                // Обновляем переменную результата, переводя полученный объект в строку
                this.setState({loginResult: JSON.stringify(err, null, 2)})
            })
    }
}

export default App;
</pre>

<p>
    Сохраните файл и запустите приложение из консоли командой:
</p>
<pre>
npm start
</pre>
<p>
    В результате в браузере откроется страница с двумя формами: регистрации и авторизации.
    Поэкспериментируйте с регистрацией пользователей и их авторизацией и посмотрите на ответы от API Scorocode.
    После успешной регистрации вы можете увидеть в коллекции users добавленного пользователя и авторизоваться, используя
    его email и пароль.
</p>