<h2>Scorocode Java SDK</h2>

<p>
Дистрибутив Scorocode Java SDK можно скачать <a href="https://github.com/Scorocode/scorocode-sdk-java" target="_blank">тут</a>.
</p>
<p>
	Структура SDK:
</p>
<pre>
<a href="javascript:getTemplate('./mdsource/Java/ScorocodeSDK.md')">ScorocodeSDK</a>
    Подключение SDK
    .initWith(appId, clientKey, masterKey, fileKey, messageKey, scriptKey, websocketKey)
<a href="javascript:getTemplate('./mdsource/Java/Document.md')">Document</a>
	new Document(collection_name)
	.setField(field, value)
	.saveDocument(callback)
	.getDocumentById(documentId, callback)
	.getField(field)
	.updateDocument()
	.uploadFile(fieldName, fileName, contentToUploadInBase64, callback)
	.getFileLink(fieldName, fileName)
	.removeFile( fieldName, fileName, callback)
	.removeDocument(callback)
<a href="javascript:getTemplate('./mdsource/Java/Update.md')">Update</a>
	new Update()
	.set(field,value)
	.push(field, value)
	.popFirst(field)
	.popLast(field)
	.pull(field, value)
	.pullAll(field, value)
	.addToSet(field, value)
	.inc(field, increaseValue)
	.setCurrentDate(field)
	.mul(field, value)
	.min(field, valueToCompare)
	.max(field, valueToCompare)
	.getUpdateInfo()
<a href="javascript:getTemplate('./mdsource/Java/User.md')">User</a>
	new User(name)
	.register(username, email, password, documentContent, callback)
	.register(username, email, password, callback)
	.login(email, password, callback) ⇒ ResponseLogin
	.logout(callback)
<a href="javascript:getTemplate('./mdsource/Java/Query.md')">Query</a>
	new Query(name)
	.findDocuments(callback)
	.countDocuments(callback)
	.updateDocument(update, callback)
	.removeDocument(callback)
	.setLimit(limit)
	.setSkip(skip)
	.setPage(page)
	.equalTo(field, value)
	.notEqualTo(field, value)
	.containedIn(field, values)
	.containsAll(field, values)
	.notContainedIn(field, values)
	.greaterThan(field, value)
	.greaterThenOrEqualTo(field, value)
	.lessThan(field, value)
	.lessThanOrEqualTo(field, value)
	.exists(field)
	.doesNotExist(field)
	.contains(field, regEx, options)
	.startsWith(field, regEx, options)
	.endsWith(field, regEx, options)
	.and(field, query)
	.or(field, query)
	.raw(json)
	.reset()
	.ascending(field)
	.descending(field)
	.setFieldsForSearch(fields)
	.getQueryInfo()
<a href="javascript:getTemplate('./mdsource/Java/Script.md')">Script</a>
	new Script()
	.runScript(scriptId, dataPoolForScript, callbackRunScript)
	.runScript(scriptId, callbackRunScript)
<a href="javascript:getTemplate('./mdsource/Java/Message.md')">Message</a>
	new Message(from, subject, text)
	.sendEmail(messageEmail, query, callback)
	.sendEmail(messageEmail, callback)
	.sendPush(messagePush, query, callback)
	.sendPush(messagePush, callback)
	.sendSms(messageSms, query, callback)
	.sendSms(messageSms, callback)
<a href="javascript:getTemplate('./mdsource/Java/WebSocket.md')">WebSocket</a>
</pre>