<h2>Начало работы</h2>

<p>
    Для начала работы в <strong>scorocode</strong> требуется регистрация.
    На странице <a href="https://scorocode.ru/account#/signup">регистрации</a> укажите свой адрес электронной почты и ваше имя.
</p>
<p>
    <img src="./img/register.png" alt="Регистрация" class="screenshot">
</p>


<p>
    После успешной регистрации вы перейдете в Личный кабинет разработчика, а на указанный адрес электронной почты будет
    направлено сообщение с указанием пароля для последующей авторизации. Изменить пароль, присвоенный системой, можно в
    разделе пользовательских настроек вашего личного кабинета.
</p>
<p>
    Для входа в личный кабинет платформы, перейдите по ссылке «Войти», расположенной в основном меню Главной страницы. Введите указанные при регистрации логин (адрес E-mail) и пароль.
    В случае трехкратного неверного ввода пароля, система потребует ввести указанный на картинке текст (captcha).
    В случае, если вы забыли пароль, перейдите по ссылке «Забыли пароль?».
    В открывшемся окне восстановления пароля укажите ваш регистрационный Email, на который будет направлено информационное письмо со ссылкой для сброса пароля.
</p>