<h2>Личный кабинет</h2>

<p>
    Личный кабинет разработчика включает разделы:
</p>
<ul>
    <li>пользовательские настройки и системные уведомления пользователю;</li>
    <li>приложения;</li>
    <li>документация</li>
</ul>

<p>
    После авторизации по умолчанию вы попадаете на страницу «Приложения»
</p>

<p>
    <img src="./img/apps.png" alt="Приложения" class="screenshot">
</p>


<h3>Пользовательские настройки и системные уведомления пользователю</h3>

<p>
    Для перехода в раздел пользовательских настроек и системных уведомлений нажмите на адрес электронной почты в названии своего личного кабинета.
    Страница пользовательских настроек и системных уведомлений включает разделы:
</p>
<ul>
    <li>Уведомления;</li>
    <li>Персональная информация;</li>
    <li>Изменение пароля;</li>
    <li>Организация;</li>
    <li>Баланс.</li>
</ul>
<p>
    По умолчанию вы находитесь в разделе «Уведомления».
</p>

<p>
    <img src="./img/notices.png" alt="Уведомления" class="screenshot">
</p>

<h4>Уведомления</h4>

<p>
    В разделе «Уведомления» страницы «Пользовательские настройки и системные уведомления» вашего Личного кабинета представлен перечень направленных вам системных уведомлений.
    Для удаления системного уведомления воспользуйтесь ссылкой «Удалить».
</p>

<h4>Персональная информация</h4>
<p>
    В разделе персональная информация вы можете ввести (отредактировать) свои персональные данные: имя пользователя и номер телефона.
    Адрес электронный почты, используемый в качестве ваших учетных данных, <span style="color: firebrick">не редактируется</span>.
</p>
<p>
    <img src="./img/personalinfo.png" alt="Персональная информация" class="screenshot">
</p>

<p>
    Для сохранения внесенных изменений нужно нажать на кнопку «Сохранить изменения».
</p>

<h4>Изменение пароля</h4>
<p>
    Для изменения своего пароля перейдите в раздел «Изменение пароля».
    Воспользуйтесь этой функцией для изменения пароля, сгенерированного системой при регистрации.
</p>
<p>
    <img src="./img/changepassword.png" alt="Изменение пароля" class="screenshot">
</p>

<p>
    Длина нового пароля должна быть не менее 6 символов.
    Для сохранения вашего нового пароля нажмите на кнопку «Изменить пароль».
</p>

<h4>Организация</h4>
<p>
    В разделе «Организация» вводятся данные о вашей организации. Данные информация используется для заключения договора,
    выставления счетов для оплаты по безналичному расчету и подготовки актов и других отчетных документов.
</p>
<p>
    <img src="./img/organization.png" alt="Организация" class="screenshot">
</p>

<p>
    Для сохранения введенных данных нажмите на кнопку «Сохранить изменения».
</p>

<h4>Баланс</h4>
<p>
    В разделе «Баланс» представлена информация о вашем текущем балансе, а также детализация приходно-расходных операций.
</p>
<p>
    <img src="./img/balance.png" alt="Баланс" class="screenshot">
</p>

<p>
    В разделе «Баланс» вы можете пополнить ваш текущий баланс с использованием банковской карты.
    Для этого укажите сумму пополнения в рублях и нажмите на кнопку «Оплатить картой».
    Откроется окно с формой для заполнения реквизитов выполняемого платежа.
    Следуйте инструкциям платежного сервиса.
    Ваш текущий баланс может быть пополнен и по безналичному расчету, если заполнены реквизиты организации.
    Для формирования выписки с детализацией счета нажмите на ссылку «Экспорт».
</p>

<h4>Приложения</h4>
<p>
    Для перехода на страницу с приложениями нажмите на ссылку «Приложения», расположенную в верхнем меню Личного кабинете.
    Данная страница открыта по умолчанию после авторизации.
    На странице расположены виджеты, созданных ранее приложений, а также виджет для создания нового приложения.
</p>
<p>
    Для создания нового приложения щелкните в области виджета «Новое приложение». Введите наименование создаваемого
    приложения в поле ввода и нажмите на кнопку «Создать». Наименование приложения может содержать любые символы.
</p>
<p>
    <img src="./img/newapp.png" alt="Новое приложение" class="screenshot">
</p>

<p>
    Виджет с созданными ранее приложениями имеет название и меню с пиктограммами функций:
</p>
<p>
    <img src="./img/apps2.png" alt="Приложения" class="screenshot">
</p>

<ul>
    <li>Аналитика;</li>
    <li>Данные;</li>
    <li>Серверный код;</li>
    <li>Рассылки;</li>
    <li>Настройки.</li>
</ul>
<p>
    Виджет с пустым приложением имеет наименование «Новое приложение» и не имеет функционального меню.
</p>
