<h2>Общие сведения</h2>

<p>
    <strong>scorocode</strong> - облачная платформа, предоставляющая функции BaaS (Backend as a Service).
    <strong>scorocode</strong> позволяет быстро формировать структуру данных, используя визуальное моделирование коллекций и полей,
    подключать обработчики операция с данными (триггеры), разрабатывать серверный код на JavaScript, планировать его запуск.
</p>
<p>
    Основные возможности <strong>scorocode</strong>:
</p>
<ul>
    <li>Полноценная платформа для проектирования backend, бесплатный тариф для небольших приложений;</li>
    <li>Наличие готовых backend функций: отправка email, СМС и push-уведомлений, файловое хранилище, серверные скрипты и т.д.;</li>
    <li>Предоставление статистики и аналитики для приложений в режиме 24 Х 7;</li>
    <li>Управление пользователями и доступами уровня приложения, коллекции и документов;</li>
    <li>Документация и примеры использования платформы и SDK на русском языке;</li>
</ul>

<p>
    <strong>scorocode</strong> предоставляет широкий спектр возможностей по подключению проектов к облачному backend:
    <ul>
        <li>REST API</li>
        <li>JavaScript SDK для web-приложений, как для клиентской, так и для серверной частей</li>
        <li>Swift SDK для разработки приложений на платформах iOS и Mac OS X</li>
        <li>Java SDK для разработки приложений на платформе Android</li>
    </ul>
</p>
<p>
    <strong>scorocode</strong> позволяет импортировать данные с облачного сервиса <a href="http://parse.com/">parse.com</a>.
</p>
<p>
    Перечень возможностей <strong>scorocode</strong> и поддерживаемых платформ постоянно растет.
</p>
<h3>Пользователи BaaS</h3>

<p>
    Пользователями BaaS являются:
</p>
<ul>
    <li>Частные разработчики</li>
    <li>Профессиональные разработчики и команды разработчиков</li>
    <li>Корпоративный сектор</li>
</ul>
<p>
    Для частных разработчиков BaaS является технически простым, недорогим и документированным решением для пробы собственных сил, для создания и быстрого изменения backend для приложений.
    Профессиональным разработчикам и командам разработчиков Baas предоставляет средства поддержки современных сервисов (социальные сети, платежные системы и т.п.) и прозрачную модель тарифов для расчёта стоимости разработки и сопровождения
    Для пользователей корпоративного сектора BaaS предоставляет средства аналитики для повышения эффективности приложений и маркетинга, а также единую платформу для параллельной разработки нескольких проектов.
</p>