<h2>HTTP API</h2>


<h4>Общее описание протокола</h4>

<pre>
{
    app         : "ID приложения",
    cli         : "Ключ клиента (clientKey)",
    acc         : "Ключ доступа (accessKey)",
    sess        : "ID сессии, получается в ответ на метод login",

    username    : "имя пользователя",
    email       : "email пользователя",
    password    : "пароль",

    coll        : "Название коллекции",
    doc         : {
        "имя поля"      : "значение",
        "имя поля"      : "значение"
    },
    query       : {
        "имя поля"      : "значение",
        "объект.ключ"   : "значение",
        "оператор $"    : { }
    },
    sort        : {
        "имя поля"      : 1,
        "имя поля"      : -1
    },
    fields      : ["имя поля", "имя поля", "имя поля"],
    limit       : 100,
    skip        : 5,

    script      : "ID серверного скрипта",
    pool        : { },

    docId       : "ID документа",
    field       : "Имя поля"
    file        : "Имя файла",

    msg         : {
        subject         : "Заголовок",
        text            : "Текст",
        from            : "Имя отправителя",
        data            : { }
    }
}
</pre>

<hr>
<h4>https://api.scorocode.ru/api/v1/register</h4>
<p>
Регистрация нового пользователя.
</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    username    : "", // имя пользователя, обязательный, минимум 5 символов
    email       : "", // email, обязательный
    password    : "", // пароль, обязательный, минимум 6 символов
    doc         : { } // значения пользовательских полей в коллекции 'users', необязательный
}
</pre>
<p>
    Ответы:
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>

<hr>
<h4>https://api.scorocode.ru/api/v1/login</h4>
<p>
    Авторизация пользователя.
</p>
<p>Метод: POST</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    email       : "", // email, обязательный
    password    : "", // пароль, обязательный
}
</pre>
<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false,
    result      : {
        sessionId     : "", // ID сессии
        user          : {}  // Документ, содержащий пользователя
    }
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>

<hr>
<h4>https://api.scorocode.ru/api/v1/logout</h4>
<p>
Деавторизация пользователя.
</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    sess        : ""  // ID сессии, обязательный
}
</pre>
<p>
Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>

<hr>
<h4>https://api.scorocode.ru/api/v1/data/insert</h4>
<p>
    Создание нового документа в коллекции.
</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : "", // ключ доступа, необязательный, для полного доступа masterKey
    sess        : "", // ID сессии, обязательный, если ACLPublic приложения на операцию == false и acc != masterKey
    coll        : "", // имя коллекции, обязательный
    doc         : {}, // документ с парами имя_поля:значение, необязательный
}
</pre>
<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
    result      : {} // созданный документ
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>

<hr>
<h4>https://api.scorocode.ru/api/v1/data/remove</h4>
<p>
    Удаление документа из коллекции.
</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<p>
    Ограничения: <span class="text-danger">удаляет не более 1000 документов</span>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : "", // ключ доступа, необязательный, для полного доступа masterKey
    sess        : "", // ID сессии, обязательный, если ACLPublic приложения на операцию == false и acc != masterKey
    coll        : "", // имя коллекции, обязательный
    query       : {}, // запрос с парами имя_поля/оператор:значение, необязательный
    limit       : int // лимит количества удаляемых документов, необязательный, если не указан, то удалятся первые 1000 документов
}
</pre>
<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
    result      : {
        count       : int, // количество удаленных документов
        docs        : [] // массив ID удаленных документов
    }
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>

<hr>
<h4>https://api.scorocode.ru/api/v1/data/update</h4>
<p>
    Изменение документов в коллекции.
</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<p>
    Ограничения: <span class="text-danger">изменяет не более 1000 документов</span>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : "", // ключ доступа, необязательный, для полного доступа masterKey
    sess        : "", // ID сессии, обязательный, если ACLPublic приложения на операцию == false и acc != masterKey
    coll        : "", // имя коллекции, обязательный
    query       : {}, // запрос с парами имя_поля/оператор:значение, необязательный
    doc         : {}, // документ с парами оператор:значение, обязательный
    limit       : int // лимит количества обновляемых документов, необязательный, если не указан, то обновятся первые 1000 документов
}
</pre>
<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
    result      : {
        count       : int, // количество измененных документов
        docs        : [] // массив ID измененных документов
    }
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>

<hr>
<h4>https://api.scorocode.ru/api/v1/data/updatebyid</h4>
<p>
    Изменение одного документа в коллекции по идентификатору.
</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : "", // ключ доступа, необязательный, для полного доступа masterKey
    sess        : "", // ID сессии, обязательный, если ACLPublic приложения на операцию == false и acc != masterKey
    coll        : "", // имя коллекции, обязательный
    query       : {}, // запрос в формате "_id" : "&ltидентификатор документа&gt", обязательный
    doc         : {}, // документ с парами оператор:значение, обязательный
}
</pre>
<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
    result      : {} // обновленный документ
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>

<hr>
<h4>https://api.scorocode.ru/api/v1/data/find</h4>
<p>
    Запрос документов из коллекции.
</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<p>
    Ограничения: <span class="text-danger">возвращает не более 100 документов</span>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : "", // ключ доступа, необязательный, для полного доступа masterKey
    sess        : "", // ID сессии, обязательный, если ACLPublic приложения на операцию == false и acc != masterKey
    coll        : "", // имя коллекции, обязательный
    query       : {}, // запрос с парами имя_поля/оператор:значение, необязательный, если пустой, то будут возвращены первые 100 документов
    sort        : {}, // сортировка по полям в формате имя_поля:1/-1, необязательный
    fields      : [], // список имен полей, которые будут озвращены в каждом документе, необязательный
    limit       : int,// лимит размера выборки, необязательный, по умолчанию 50
    skip        : int,// количество документов, которое нужно пропустить в выборке
}
</pre>
<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
    result      : string // bson результат запроса, закодированный в base64
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>

<p class="bg-danger">
    Для повышения производительности сервиса результат выборки метода <code>find</code> возвращается в формате <a
        href="https://ru.wikipedia.org/wiki/BSON">bson</a>. Все SDK самостоятельно реализуют декодирование bson в json.
</p>

<hr>
<h4>https://api.scorocode.ru/api/v1/data/count</h4>
<p>
    Запрос количества документов из коллекции.
</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : "", // ключ доступа, необязательный, для полного доступа masterKey
    sess        : "", // ID сессии, обязательный, если ACLPublic приложения на операцию == false и acc != masterKey
    coll        : "", // имя коллекции, обязательный
    query       : {}, // запрос с парами имя_поля/оператор:значение, необязательный
}
</pre>

<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
    result      : int // количество документов
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>

<hr>
<h4>https://api.scorocode.ru/api/v1/upload</h4>
<p>
    Загрузка файла в хранилище.
</p>

<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : "", // ключ доступа, обязательный, fileKey или для полного доступа masterKey
    sess        : "", // ID сессии, обязательный, если acc != masterKey
    coll        : "", // имя коллекции, обязательный
    docId       : "", // ID документа, обязательный
    field       : "", // имя поля, обязательный
    file        : "", // имя файла, обязательный
    content     : ""  // тело файла в кодировке base64, обязательный
}
</pre>

<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>

<hr>
<h4>https://api.scorocode.ru/api/v1/getfile/{app}/{coll}/{field}/{docId}/{file}</h4>
<p>
    Получение файла редиректом.
</p>
<p>
Метод: GET
</p>
<p>
    Запрос:
</p>
<pre>
https://api.scorocode.ru/api/v1/getfile/{app}/{coll}/{field}/{docId}/{file}
</pre>
<p>
    , где:
</p>
<pre>
    {app}     - идентификатор приложения, обязательный
    {coll}    - имя коллекции, обязательный
    {field}   - имя поля, обязательный
    {docId}   - идентификатор документа, обязательный
    {file}    - имя файла, обязательный
</pre>

<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
Status: 302 (Redirect на файл)
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>


<hr>
<h4>https://api.scorocode.ru/api/v1/getfilelink</h4>
<p>
    Получение ссылки на файл.
</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : "", // ключ доступа, обязательный, fileKey или для полного доступа masterKey
    sess        : "", // ID сессии, обязательный, если acc != masterKey
    coll        : "", // имя коллекции, обязательный
    docId       : "", // ID документа, обязательный
    field       : "", // имя поля, обязательный
    file        : ""  // имя файла, обязательный
}
</pre>
<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false,
    result      : "Ссылка на файл"
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>


<hr>
<h4>https://api.scorocode.ru/api/v1/deletefile</h4>
<p>
    Удаление файла.
</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : "", // ключ доступа, обязательный, fileKey или для полного доступа masterKey
    sess        : "", // ID сессии, обязательный, если acc != masterKey
    coll        : "", // имя коллекции, обязательный
    docId       : "", // ID документа, обязательный
    field       : "", // имя поля, обязательный
    file        : ""  // имя файла, обязательный
}
</pre>
<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>

<hr>
<h4>https://api.scorocode.ru/api/v1/sendemail</h4>
<p>
    Отправка email пользователям.
</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : "", // ключ доступа, обязательный, messageKey или для полного доступа masterKey
    sess        : "", // ID сессии, обязательный, если acc != masterKey
    query       : {}, // запрос в коллекцию users для выборки адресатов с парами имя_поля/оператор:значение, необязательный
    msg         : {
        subject     : "", // Тема письма
        text        : "", // Текст письма
        from        : ""  // Имя отправителя
    }
}
</pre>
<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>

<hr>
<h4>https://api.scorocode.ru/api/v1/sendpush</h4>
<p>
    Отправка push на устройства.
</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : "", // ключ доступа, обязательный, messageKey или для полного доступа masterKey
    sess        : "", // ID сессии, обязательный, если acc != masterKey
    query       : {}, // запрос в коллекцию devices для выборки адресатов с парами имя_поля/оператор:значение, необязательный
    msg         : {
        text        : "", // Текст сообщения
        data        : { } // объект с передаваемыми данными
    }
}
</pre>
<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>

<hr>
<h4>https://api.scorocode.ru/api/v1/sendsms</h4>
<p>
    Отправка sms на номера пользователей.
</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : "", // ключ доступа, обязательный, messageKey или для полного доступа masterKey
    sess        : "", // ID сессии, обязательный, если acc != masterKey
    query       : {}, // запрос в коллекцию users для выборки адресатов с парами имя_поля/оператор:значение, необязательный
    msg         : {
        text        : "", // Текст sms
    }
}
</pre>
<p>
Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>

<hr>
<h4>https://api.scorocode.ru/api/v1/scripts</h4>
<p>Отправка задания на выполнение серверного скрипта.</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : "", // ключ доступа, обязательный, scriptKey или для полного доступа masterKey
    sess        : "", // ID сессии, обязательный, если acc != masterKey
    script      : "", // ID скрипта, обязательный
    pool        : {}  // пул данных для установки передачи в контекст скрипта, необязательный
}
</pre>
<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>

<hr>
<h4>https://api.scorocode.ru/api/v1/stat</h4>
<p>
    Получение статистики по приложению.
</p>
<p>
    Метод: POST
</p>
<p>
    Заголовки:
</p>
<p>
    <code>Content-Type: application/json</code>
</p>
<pre>
{
    app         : "", // идентификатор приложения, обязательный
    cli         : "", // клиентский ключ, обязательный
    acc         : ""  // ключ доступа, обязательный, только masterKey
}
</pre>
<p>
    Ответы
</p>
<p>
    Выполнено
</p>
<pre>
{
    error       : false
    results     : {
        dataSize    : int, // Размер данных приложения, в байтах
        indexSize   : int, // Размер идексов приложения, в байтах
        filesSize   : int  // Размер файлов приложения, в байтах
    }
}
</pre>
<p>
    Ошибка
</p>
<pre>
{
    error       : true,
    errCode     : 4XX/5XX, // Код ошибки
    errMsg      : "Текст ошибки"
}
</pre>
