<h2>Scorocode JS SDK</h2>

<p>
Дистрибутив Scorocode SWIFT SDK можно скачать <a href="https://github.com/Scorocode/scorocode-sdk-swift" target="_blank">тут</a>.
</p>
<pre>
<a href="javascript:getTemplate('./mdsource/SWIFT/SC.md')">SC</a>
    .initWith(opt)
<a href="javascript:getTemplate('./mdsource/SWIFT/SCValue.md')">SCValue</a>
	SCBool(value)
	SCString(value)
	SCInt(value)
	SCDouble(value)
	SCDate(value)
	SCArray(value)
	SCDictionary(value)
<a href="javascript:getTemplate('./mdsource/SWIFT/SCObject.md')">SCObject</a>
	init Object(collection, id?)
	.set(dic)
	.save(callback
	.getById(id, collection, callback)
	.get(name)
	.upload(field, filename, data, callback
	.getFileLink(fieldName, callback -> Void)
	.getFile (field, filename, callback)
	.deleteFile (field, filename, callback)
	.remove(callback)
	.push(name, _ value)
	.pushEach(name, _ value)
	.pull(name, _ value)
	.pullAll(name, _ value)
	.addToSet(name, _ value)
	.addToSetEach(name, _ value)
	.pop(name, _ value)
	.inc(name, _ value)
	.currentDate(name, typeSpec)
	.mul(name, _ value)
	.min(name, _ value)
	.max(name, _ value)
<a href="javascript:getTemplate('./mdsource/SWIFT/SCUser.md')">SCUser</a>
	init()
	.login(email, password, callback)
	.logout(callback)
	.signup(username, email, password, callback)
	.signup(callback)
<a href="javascript:getTemplate('./mdsource/SWIFT/SCQuery.md')">SCQuery</a>
	init(collection)
	.find(callback -> Void)
	.count(callback -> Void)
	.update(update, callback -> Void)
	.remove(callback)
	.limit(limit)
	.skip(skip)
	.page(page)
	.raw(json)
	.reset()
	.ascending(name)
	.descending(name)
	.fields(names)
	.addOperator(name, oper)
	.equalTo(name, _ value)
	.notEqualTo(name, _ value)
	.containedIn(name, _ value)
	.containsAll(name, _ value)
	.notContainedIn(name, _ value)
	.greaterThan(name, _ value)
	.greaterThanOrEqualTo(name, _ value)
	.lessThan(name, _ value)
	.lessThanOrEqualTo(name, _ value)
	.exists(name)
	.doesNotExist(name)
	.contains(name, _ pattern)
	.startsWith(name, _ pattern)
	.endsWith(name, _ pattern)
	.and(operators)
	.or(operators)
<a href="javascript:getTemplate('./mdsource/SWIFT/SCScript.md')">SCScript</a>
	.run(scriptId, pool, callback)
<a href="javascript:getTemplate('./mdsource/SWIFT/SCMessage.md')">SCMessage</a>
	.sendEmail(query, subject, text, callback -> Void)
	.sendPush(query, subject, text, callback -> Void)
	.sendSms(query, subject, text, callback -> Void)
<a href="javascript:getTemplate('./mdsource/SWIFT/SCUpdate.md')">SCUpdate</a>
	.addOperator(oper)
	.set(dic)
	.push(name, _ value)
	.pushEach(name, _ value)
	.pull(name, _ value)
	.pullAll(name, _ value)
	.addToSet(name, _ value)
	.addToSetEach(name, _ value)
	.pop(name, _ value)
	.inc(name, _ value)
	.currentDate(name, typeSpec)
	.mul(name, _ value)
	.min(name, _ value)
	.max(name, _ value)
<a href="javascript:getTemplate('./mdsource/SWIFT/WebSocket.md')">WebSocket</a>
</pre>